#force svg {
  width: 100%;
  height: 100%;
  background: #fff;
}
#force .link {
  stroke: #999;
  stroke-opacity: .6;
}
#force .node {
  font-family: Univers;
  font-size: 14px;
  cursor: pointer;
}
#force .node circle {
  /*
      stroke: #ddd;
      stroke-width: 1px;
*/

}
nav.affix {
  display: block;
}
nav.affix li,
nav.affix li a {
  display: block;
  width: 100%;
}
/*
   #grid svg {
      font: 22px sans-serif;
    }
    #grid .background {
      fill: #eee;
    }
    #grid line {
      stroke: #fff;
    }
    #grid text.active {
      fill: red;
    }
  
*/
/*

    #hive svg {
      background: #eef;
    }
    #hive .link {
      stroke-width: 1.5px;
    }
    #hive .axis, #hive .node {
      stroke: #000;
      stroke-width: 1.5px;
    }
*/